<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/proyectos">Proyectos</a></li>
        <li class="breadcrumb-item">
            <a routerLink="/proyectos/reporte-tiempo/nuevo">Reportes</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Pendientes y Devueltos</li>
    </ol>
</nav>

<div class="row justify-content-center">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Reportes Pendientes de aprobación</h6>
                <hr />
                <div class="alert alert-info" role="alert" *ngIf="reportesPendientes.length == 0">
                    No se encontraron Reportes Pendientes de Aprobación.
                </div>
                <div class="table-responsive" *ngIf="reportesPendientes.length > 0">
                    <table class="table table-hover table-borderless text-center">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Proyecto</th>
                                <th scope="col">Actividad</th>
                                <th scope="col">Asignado por</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of reportesPendientes">
                                <th class="text-uppercase">{{ r.fecha | date : 'dd-MMM-yyyy'}}</th>
                                <td class="w-50 text-wrap">{{ r.proyecto.nombre }}-{{ r.proyecto.descripcion }}</td>
                                <td class="w-50 text-wrap">{{ r.actividad.actividad.actividad }}</td>
                                <td>{{ r.asignador }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Reportes devueltos</h6>
                <hr />
                <div class="alert alert-info" role="alert" *ngIf="reportesDevueltos.length == 0">
                    No se encontraron Reportes Devueltos.
                </div>
                <div class="table-responsive" *ngIf="reportesDevueltos.length > 0">
                    <table class="table table-hover table-borderless text-center">
                        <thead>
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Proyecto</th>
                                <th scope="col">Actividad</th>
                                <th scope="col">Asignado por</th>
                                <th scope="col">Reenviar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of reportesDevueltos">
                                <th class="text-uppercase" scope="row">{{r.fecha | date : 'dd-MMM-yyyy'}}</th>
                                <td class="w-50 text-wrap">{{r.proyecto.nombre}}-{{ r.proyecto.descripcion }}</td>
                                <td class="w-50 text-wrap">{{r.actividad.actividad.actividad}}</td>
                                <td>{{ r.asignador }}</td>
                                <td>
                                    <a (click)="openReenviarReporteModal(reenviar, r.id)" placement="top"
                                        ngbTooltip="Reenviar Reporte">
                                        <i class="mdi mdi-keyboard-return"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL REENVIAR REPORTE -->
<ng-template #reenviar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Reenviar reporte
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="reenviarReporte()">
            <div class="form-group">
                <label for="proyecto">Proyecto</label>
                <input [(ngModel)]="reporteToReenviar.proyecto.nombre" id="proyecto" name="proyecto" type="text"
                    class="form-control" [disabled]="true">
            </div>
            <div class="form-group">
                <label for="actividad">Actividad</label>
                <input [(ngModel)]="reporteToReenviar.actividad.actividad.actividad" id="actividad" name="actividad"
                    type="text" class="form-control" [disabled]="true">
            </div>
            <div class="form-group">
                <label for="fecha">Fecha</label>
                <input [value]="reporteToReenviar.fecha" id="fecha" name="fecha" type="text" class="form-control"
                    [disabled]="true">
            </div>
            <div class="form-group">
                <label for="horas">Horas</label>
                <input [(ngModel)]="reporteToReenviar.horas" id="horas" name="horas" type="number" class="form-control">
            </div>
            <div class="form-group">
                <label for="justificacion">Justificacion</label>
                <textarea [(ngModel)]="reporteToReenviar.justificacion" class="form-control" name="justificacion"
                    id="justificacion" cols="30" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary float-right">Reenviar</button>
        </form>
    </div>
</ng-template>