// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

#btnAprobar {
    width: 100%;
    opacity: 0.8;
}

#btnDevolver {
    width: 100%;
    margin-top: 5px;
    opacity: 0.8;
}

#btnRechazar {
    width: 100%;
    margin-top: 5px;
    opacity: 0.8;
}

#btnCancelar {
    width: 100%;
    margin-top: 5px;
    opacity: 0.8;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #btnAprobar {
        width: auto;
    }
    
    #btnDevolver {
        width: auto;
        margin-top: 0px;
        margin-left: 5px;
    }
    
    #btnRechazar {
        width: auto;
        margin-top: 0px;
        margin-left: 5px;
    }
    
    #btnCancelar {
        width: auto;
        margin-top: 0px;
        margin-left: 5px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}