// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

#btnGuardar {
    width: 100%;
}

#btnNovedad {
    width     : 100%;
    margin-top: 5px;
}

#btnEspecialidad {
    width     : 100%;
    margin-top: 5px;
}

#btnCancelar {
    width     : 100%;
    margin-top: 5px;
}

#btnModalEspecialidad {
    width: 100%;
}

#btnModalNovedad {
    width: 100%;
}

#btnModalCargo {
    width: 100%;
}

#btnModalRol {
    width: 100%;
}

#btnRol {
    width: 100%;
    margin-top: 5px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #btnGuardar {
        width: auto;
    }

    #btnNovedad {
        width      : auto;
        margin-top : 0px;
        margin-left: 5px;
    }

    #btnEspecialidad {
        width      : auto;
        margin-top : 0px;
        margin-left: 5px;
    }

    #btnCancelar {
        width      : auto;
        margin-top : 0px;
        margin-left: 5px;
    }

    #btnModalEspecialidad {
        width: auto;
    }

    #btnModalNovedad {
        width: auto;
    }

    #btnModalCargo {
        width: auto;
    }

    #btnModalRol {
        width: auto;
    }

    #btnRol {
        width: auto;
        margin-top: 0px;
        margin-left: 5px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}