<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Gestión usuarios Roles</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear rol</li>
    </ol>
  </nav>
  
  
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm">
                <h6 class="card-title">Gestión Roles</h6>
            </div>
            <div class="col-12 col-sm d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary" (click)="editarRol(modalRol,null)" >
                    <i class="mdi mdi-plus"></i>
                    Crear nuevo rol
                </button>
            </div>
        </div>
        <br>
        <br>
        <div>
          <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" class="table-hover" style="width: 100%;" matSort>

                  <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                      <td mat-cell *matCellDef="let rol"> {{rol.rolNombre}} </td>
                  </ng-container>

                  <ng-container matColumnDef="descripcion">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                      <td mat-cell *matCellDef="let rol" style="vertical-align: middle; text-align: left;"
                          class="w-20 text-wrap"> {{rol.rolDescripcion}} </td>
                  </ng-container>

                  <ng-container matColumnDef="permisos">
                      <th mat-header-cell *matHeaderCellDef class="text-center">Permisos</th>
                      <td mat-cell *matCellDef="let rol" class="text-center">
                          <button class="btn btn-outline-primary" (click)="editarRol(modalRol,rol)">
                             Editar Permisos
                          </button>
                      </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
              </table>
          </div>
      </div>





        <!-- 
          <div class="row">
            <div class="col-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="feather icon-search"></i>
                  </div>
                </div>
                <input type="text" [(ngModel)]="parametroBuscar" class="form-control" id="buscadorUsuario"
                  name="parametroUsuarioBuscar" placeholder="Buscar..." (keyup)="buscarRol()">
              </div>
            </div>
          </div>


          <div class="table-responsive">
  
  
            <ngx-datatable class="bootstrap" [rows]="roles" [loadingIndicator]="loadingIndicator"
              [columnMode]="columnMode.force" [footerHeight]="50" [limit]="nroPaginas" rowHeight="auto">
              <ngx-datatable-column name="Nombre" prop="rolNombre"></ngx-datatable-column>
              <ngx-datatable-column name="Descripción" prop="rolDescripcion"></ngx-datatable-column>
              <ngx-datatable-column name="Permisos" [cellTemplate]="editarRolBtnTemplate"></ngx-datatable-column>
            </ngx-datatable>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  
  
  <ng-template #modalRol let-modal>
    <div class="modal-header">
      <h5 class="modal-title text-center" id="exampleModalLabel">{{titulo}}</h5>
      <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12  stretch-card">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">Ingrese los datos del rol</h6>
              <form #formularioRegistroRol="ngForm">
                <div class="col-sm-12">
  
  
                  <div class="row">
  
  
                    <div class="col-12">
                      <div class="form-group">
                        <label class="control-label">Nombre:</label>
                        <input name="rolNombre" [(ngModel)]="nombreRol" type="text" class="form-control"
                          placeholder="Ingresa el nombre del Rol" onkeyup="this.value = this.value.toUpperCase();" ngModel
                          #nombreRolGuardar="ngModel" required maxlength="{{validaciones.maxlength.valor}}">
                        <p class="text-danger mt-1"
                          *ngIf="nombreRolGuardar?.errors?.required && (nombreRolGuardar.dirty || nombreRolGuardar.touched)">
                          {{validaciones.campoObligatorio.mensaje}}</p>
                      </div>
                    </div>  

                  </div>
  
  
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripción:</label>
                    <textarea class="form-control" name="Descripción" [(ngModel)]="descRol" id="Descripción" rows="5"
                      ngModel #descRolGuardar="ngModel" required
                      maxlength="{{validaciones.maxlengthTxArea.valor}}"></textarea>
                    <p class="text-danger mt-1"
                      *ngIf="descRolGuardar?.errors?.required && (descRolGuardar.dirty || descRolGuardar.touched)">
                      {{validaciones.campoObligatorio.mensaje}}</p>
                  </div>
                </div>
  
  
                <div class="col-sm-12">
                  <h6 class="text-center pb-4 pt-4">Selecciona las opciones que tendrá disponibles el rol:</h6>
                </div>
                <div class="row">
                  <div *ngFor="let submenu of submenus ; let i = index" class="col-sm-6 col-lg-3">
                    <div *ngIf="i === 0">
                      {{ this.mostarIcono() }}
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" [(ngModel)]="submenu.seleccionado"
                            name="submenu_{{submenu.id}}`" (change)="cambiarEstados(submenu)">
                          <i class="input-frame"></i>
                          <label class="control-label"><i [attr.data-feather]="submenu.icon" appFeatherIcon></i>
                            {{submenu.label}}</label>
                        </label>
                      </div>
                      <div *ngFor="let item of submenu.items" class="form-check" style="margin-left: 10px;">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" [(ngModel)]="item.seleccionado"
                            name="{{item.id}}" (change)="cambiarEstadoSubmenu(submenu)">
                          <i class="input-frame"></i>
                          {{item.label}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  
  
  
  
  
  
  
  
  
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Cerrar</button>
    <!--  <button [disabled]="!formularioRegistroRol.form.valid" type="button" class="btn btn-primary"
        (click)="registrarRol()">Guardar</button>-->
      <button type="button" class="btn btn-primary"
        (click)="registrarRol()">Guardar</button>
    </div>
  </ng-template>
  
  
  
  
  