<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/recursos">Recursos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ver todos</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm">
                        <h6 class="card-title">Administración de Recursos</h6>
                    </div>

                    <div class="col-12 col-sm d-flex justify-content-end align-items-center">
                        <a class="btn btn-outline-primary" id="btnNuevoRecurso" href="javascript:void(0);"
                            routerLink="/recursos/nuevo">
                            Nuevo Recurso
                        </a>
                    </div>
                </div>

                <div>
                    <mat-form-field id="inputSearch">
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="filtrar($event)" placeholder="Buscar" />
                    </mat-form-field>
                    <div class="table-responsive">
                        <table mat-table [dataSource]="dataSource" class="table-hover" style="width: 100%">
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                <td mat-cell *matCellDef="let empleado">
                                    {{ empleado.nombre }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="cargo">
                                <th mat-header-cell *matHeaderCellDef>Cargo</th>
                                <td class="w-50 text-wrap" *matCellDef="let empleado">
                                    {{ empleado.cargo }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="dependencia">
                                <th mat-header-cell *matHeaderCellDef>Dependencia</th>
                                <td class="w-50 text-wrap" mat-cell *matCellDef="let empleado">
                                    {{ empleado.dependencia }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef>Estado</th>
                                <td mat-cell *matCellDef="let empleado">
                                    {{ empleado.estado }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="fechas">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let empleado" class="text-right">
                                    <a (click)="openDatesActividadModal(fechas_actividad, empleado)">
                                        <i class="mdi mdi-24px mdi-calendar-month-outline" placement="top"
                                            ngbTooltip="Ver Fechas Asignadas"></i>
                                    </a>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="editar">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let empleado" class="text-right">
                                    <a *ngIf="session['rol'] == 'ROL_ADMIN' || session['rol'] == 'ROL_GP' || session['rol'] == 'ROL_LP' || session['rol'] == 'ROL_DP'"
                                        (click)="updateEmpleado(empleado.id)" class="mdi mdi-24px mdi-pencil"></a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="eliminar">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let empleado" class="text-right">
                                    <a *ngIf="session['rol'] == 'ROL_ADMIN' || session['rol'] == 'ROL_GP' || session['rol'] == 'ROL_DP'"
                                        (click)="deleteModal(delete, empleado.id)"
                                        class="mdi mdi-24px mdi-delete-forever"></a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnas"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONFIRM DELETE MODAL -->
<ng-template #delete let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmar eliminacion</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>¿Estas seguro de eliminar este recurso?</p>
    </div>
    <div class="modal-footer">
        <button id="btnModalDelete" type="submit" class="btn btn-danger" (click)="deleteRecurso()">
            Aceptar
        </button>
        <button id="btnModalCancelar" type="button" class="btn btn-light" aria-label="Close" (click)="d('Cross click')">
            Cancelar
        </button>
    </div>
</ng-template>

<!-- CONFIRM DELETE FECHA MODAL -->
<ng-template #deleteFechaAsig let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmar eliminacion</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="hidden" id="idDeleteFechaAsig">
        <p>¿Estas seguro de eliminar este recurso asignado?</p>
    </div>
    <div class="modal-footer">
        <a id="btnModalFechaDelete" class="btn btn-danger" (click)="deleteFechaAsignada()">
            Aceptar
        </a>
        <button id="btnModalFechaCancelar" type="button" class="btn btn-light" aria-label="Close"
            (click)="d('Cross click')">
            Cancelar
        </button>
    </div>
</ng-template>

<!--MODAL FECHAS ACTIVIDAD -->
<ng-template #fechas_actividad let-c="close" let-d="dismiss" id="modalFechasActividad">
    <div class="modal-content" style="width: 900px;">
        <div class="modal-header">
            <h5 class="modal-title">Fehas Asignadas</h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- RECURSOS ASIGNADOS -->
            <div class="alert alert-info fw-bold" role="alert" *ngIf="dataSourceFechasAsigRecursoActividad.length == 0">
                No se encontraron Fechas Asignadas a
                <strong>{{empleadoForDates.nombre}}</strong>.
                <hr>
            </div>
            <div class="row" *ngIf="dataSourceFechasAsigRecursoActividad.length > 0">
                <div class="col">
                    <div class="text-center h5">ASIGNACIÓN DE:</div>
                    <div class="text-center h5" *ngIf="empleadoForDates.id != null">
                        <strong>{{empleadoForDates.nombre}}</strong>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field id="inputSearch">
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="filtrarDates($event)" placeholder="Buscar">
                    </mat-form-field>
                </div>
                <hr>
            </div>
            <div class="row" *ngIf="fechasAsigRecursoActividad.length > 0">
                <div [ngClass]="{'hide': fechasAsigRecursoActividad.length == 0}" id="fechasRecursosAsignados">

                    <div class="table-responsive">
                        <table id="tabla-fechas" class="table">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Proyecto</th>
                                    <th>Actividad</th>
                                    <th>Quitar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fec of fechasAsigRecursoActividad">
                                    <td class="text-uppercase">{{fec.fecha | date : 'EEEE dd MMMM yyyy'}}</td>
                                    <td class="text-uppercase w-50 text-wrap">
                                        {{fec.actividad.proyecto.nombre}}-{{fec.actividad.proyecto.descripcion}}</td>
                                    <td class="text-uppercase w-50 text-wrap">{{fec.actividad.actividad.actividad}}</td>
                                    <td>
                                        <a (click)="openConfirmFechaAsig(deleteFechaAsig, fec.id)">
                                            <i class="mdi mdi-close text-danger" placement="left"
                                                ngbTooltip="Quitar"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template>