<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/proyectos">Proyectos</a></li>
        <li class="breadcrumb-item">
            <a routerLink="/reporte-tiempo/horas-reportadas">Reportes</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Carga Masiva</li>
    </ol>
</nav>

<div class="row justify-content-center" id="occ">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">
                    <span>Carga Masiva de Tiempos </span>
                </h6>
                <form [formGroup]="formCliente" (ngSubmit)="onSubmit()" id="cargaMasivaForm"
                    enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-10">
                            <label for="archivo"></label>
                            <input type="file" id="archivo" (click)="resetFile()" (change)="onFileSelected($event)" class="form-control-file"
                                [ngClass]="{'is-invalid': file === undefined}" accept=".xlsx, .xls">
                            <div class="invalid-feedback" *ngIf="file === undefined">
                                Debes seleccionar un archivo.
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <button [disabled]="!camposCorrectos" type="submit" id="btnSelectProyecto" class="btn btn-light">Realizar Cargue
                                Masivo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="file && camposCorrectos" class="row justify-content-center" id="occ">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">
                    <span>Lista de tiempos a reportar </span>
                </h6>
                
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" class="table-hover">

                        <ng-container matColumnDef="Cliente">
                            <th mat-header-cell *matHeaderCellDef> Cliente </th>
                            <td mat-cell *matCellDef="let proyecto"> {{proyecto.Cliente}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Proyecto">
                            <th mat-header-cell *matHeaderCellDef> Proyecto </th>
                            <td mat-cell *matCellDef="let proyecto"> {{proyecto.Proyecto}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Actividad">
                            <th mat-header-cell *matHeaderCellDef> Actividad </th>
                            <td mat-cell *matCellDef="let proyecto"> {{proyecto.Actividad}} </td>
                        </ng-container>

                        <ng-container matColumnDef="NombresRecurso">
                            <th mat-header-cell *matHeaderCellDef> Nombre recurso </th>
                            <td mat-cell *matCellDef="let proyecto"> {{proyecto.NombreRecurso}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Justificacion">
                            <th mat-header-cell *matHeaderCellDef> Justificacion </th>
                            <td mat-cell *matCellDef="let proyecto"> {{proyecto.Justificacion}} </td>
                        </ng-container>

                        <ng-container matColumnDef="FechaReporte">
                            <th mat-header-cell *matHeaderCellDef> Fecha reporte </th>
                            <td mat-cell *matCellDef="let proyecto"> {{proyecto.FechaReporte}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Horas">
                            <th mat-header-cell *matHeaderCellDef> Horas </th>
                            <td mat-cell *matCellDef="let proyecto"> {{proyecto.Horas}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Selecciona la página de proyectos">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>